div.dc-chart {
  float: left;
}

.dc-chart g.row text {
  fill: #000 !important;
}

.dc-chart text.barLabel {
  font-size: 12px;
}

.reset {
  cursor: pointer;
}

.hide-social-workers #user-chart svg {
  visibility: hidden;
}

img.screenshot {
  max-height: 800px;
  max-width: 100%;
}

#age-chart .titlerow,
#clinic-chart .titlerow,
#diagnosis-chart .titlerow,
#doctor-chart .titlerow,
#encounter-type-chart .titlerow,
#gad-chart .titlerow,
#intervention-chart .titlerow,
#limited-english-proficiency-chart .titlerow,
#location-chart .titlerow,
#moca-chart .titlerow,
#other-category-chart .titlerow,
#other-category-time-chart .titlerow,
#phq-chart .titlerow,
#transplant-chart .titlerow,
#stage-chart .titlerow,
#test-chart .titlerow,
#user-chart .titlerow {
  transform: translateX(10px);
}
