.dc-chart g.row text {
  fill: #000 !important;
}

.dc-chart text.barLabel {
  font-size: 12px;
}

.reset {
  cursor: pointer;
}

.hide-social-workers #user-chart svg {
  visibility: hidden;
}

img.screenshot {
  max-height: 800px;
  max-width: 100%;
}
