body {
  padding: 2em;
}

.ui.form .grouped .inline.field {
  display: inline-block !important;
  margin: 0;
  width: 75px;
}

.inline.field + .transparent.input {
  margin-left: 1em;
}

.score-field {
  border-bottom: 1px solid #000;
  width: 50px;
}

.score-field-wrapper {
  margin-bottom: 0.25em;
  padding: 0;
}

.score-field-wrapper .error.score-field {
  background-color: #fff6f6;
  border-bottom: 1px solid #e0b4b4;
}

.score-field-wrapper .error.score-field input {
  color: #9f3a38;
}

.ui.transparent.input.score-field > input {
  padding: 1px !important;
}

#encounter-type-dropdown,
#encounter-patient-input {
  margin-left: -12px;
  margin-right: 12px;
}

.big-section {
  padding-top: 3em !important;
  padding-bottom: 3em !important;
}

.big-section h1 {
  font-size: 3em !important;
}
